<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h1>Hi, I'm Patrick 👋</h1>
        <h4>
          I'm a web developer based in Kanagawa, Japan, with a strong foundation in HTML, CSS, JavaScript, and Ruby on Rails. I recently completed the Le Wagon web development bootcamp where I learned to build dynamic, user-focused websites and applications.
        </h4>
        <h4>
          <!-- I'm passionate about coding, and I strive to create clean, efficient code while delivering seamless user experiences. Outside of development, I've recently started playing chess, which helps me think strategically and stay sharp. Feel free to check out my work and reach out if you'd like to connect! -->
          I have a strong enthusiasm for coding and aim to produce clean, efficient code that ensures smooth user experiences. Recently, I've taken up chess, which enhances my strategic thinking and keeps my mind sharp. You're welcome to explore my work, and don't hesitate to get in touch if you'd like to connect!
        </h4>
      </div>
    </div>
  </div>
</div>
