<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <h3>Hi, I'm Patrick 👋</h3>
        <p>I'm a web developer based in Kanagawa, Japan. I recently completed a full-stack web development bootcamp at Le Wagon Tokyo, learning Ruby on Rails, HTML, JavaScript, and CSS.</p>
      </div>
    </div>
  </div>
</div>
